<h1>Academia</h1>
<h3>Pessoa</h3>
<button (click)="obterTodasPessoas()" >Obter Todas Pessoas</button>
<button (click)="obterPessoa()">Obter Pessoa</button>
<button (click)="adicionarPessoa()">Adicionar Pessoa</button>
<button (click)="removerPessoa()">Remover Pessoa</button>
<button (click)="atualizarPessoa()">Editar Pessoa</button>

<h3>Ficha</h3>
<button (click)="obterTodasFichas()">Obter Todas Fichas</button>
<button (click)="obterFicha()">Obter Ficha</button>
<button (click)="adicionarFicha()">Adicionar Ficha</button>
<button (click)="removerFicha()">Remover Ficha</button>
<button (click)="atualizarFicha()">Editar Ficha</button>

<h3>Exercicio</h3>
<button (click)="obterTodosExercicios()">Obter Todos Exercicios</button>
<button (click)="obterExercicio()">Obter Exercicio</button>
<button (click)="adicionarExercicio()">Adicionar Exercicio</button>
<button (click)="removerExercicio()">Remover Exercicio</button>
<button (click)="atualizarExercicio()">Editar Exercicio</button>
